<br>
<div class="row"> 
      <div class="col-sm-6"> 
       <%= image_tag("Fotos_Capoeira/fundadores.jpg" , class:'img-responsive') %>
      </div> 
      <div class="col-sm-6"> 
       <header class="margin-bottom-40"> 
        <h1 class="weight-300">Grupo Capoeira Brasil</h1> 
        <h2 class="weight-300 letter-spacing-1 size-13"><span>27 ANOS DE CAPOEIRA DE QUALIDADE</span></h2> 
       </header> 
       <p>O Grupo Capoeira Brasil foi fundado em 1989 (em comemoração aos 100 anos da abolição da escravatura), na cidade de Niterói, pelos Mestres Paulinho Sabiá (Niterói - RJ), Boneco (Barra - RJ) e Paulão Ceará (Fortaleza - CE), objetivando incentivar, divulgar e resgatar a nossa cultura e a arte da Capoeira.</p> 
       <p>Durante os últimos 27 anos, o Grupo cresceu com grande força, levando a cultura e o folclore do Brasil para milhares de pessoas no mundo inteiro. Comemorar os 27 anos do Grupo é festejar a cultura e arte da capoeira, é manter viva uma parte relevante da história brasileira.</p> 
       <p>O Grupo hoje se encontra espalhado pelo mundo, nos 5 continentes, com mais de 400 professores, mais de novecentos núcleos e aproximadamente 30.000 adeptos. Só no Grande Rio, estamos desenvolvedo nossos trabalhos em mais de 100 núcleos que estão espalhados de norte a sul do Estado.</p> 
       <p>Todo este trabalho é supervisionado pelos três Mestres fundadores, cada um em uma parte do planeta: Paulinho Sabiá em Niterói/RJ (Brasil); Boneco em Los Angeles (EUA) e Paulão Ceará em Tilbug (Holanda).</p> 
      
       <p>&nbsp;</p> 
      </div> 
</div>