<div class="sobre-grupo">
  <div class="fundo-sobre display-table">
    <div class="display-table-cell vertical-align-middle">
      <div class="container">
        <div class="row">
          <div class="text-center col-md-8 col-xs-12 col-md-offset-2">
            <h1 style="font-weight: 300; color: white;" class="font-raleway wow fadeInUp" data-wow-delay="0.4s">Capoeira não se explica, se joga.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="texto-sobre">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div class="box">
            <div class="box-texto">
              <span>Capoeira</span> é mais que luta, é mais que dança. Capoeira é música e ritmo. É ancestralidade africana.  Capoeira é ginga. Ginga, palavra 100% brasileira. Capoeira é cultura e é arte. Arte marcial brasileira. Resistência de corpo e de alma. É resistência nas senzalas e nos quilombos. Capoeira perseguida até 1930 é nome que não se diz nem sob tortura. Capoeira roda, palmas e berimbau. Capoeira compra a briga. Capoeira não se explica, se joga. Capoeira benção, rasteira, meia-lua, martelo, beija-flor. Capoeira é Brasil! 
            </div>
            <div class="box-imagem">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="texto-grupo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div class="box-capoeira">
            <h2>Grupo Capoeira Brasil</h2>
            <div class="box-capoeira-texto">
            Cem anos de abolição da escravidão foram comemorados em 1989 e neste mesmo ano o Mestre Paulinho Sabiá, Mestre Boneco e Mestre Paulão Ceará se uniram para fundar o Grupo Capoeira Brasil, nascido do desejo de incentivar, divulgar e resgatar a cultura e a arte da Capoeira.

            Ao longo destes anos, Capoeira Brasil cresceu com grande força, levando a cultura e o folclore brasileiro para milhares de pessoas no mundo inteiro.

            Hoje o Grupo se encontra espalhado pelo mundo, nos cinco continentes, com mais de 400 professores, mais de 900 núcleos e aproximadamente 30.000 adeptos. Só no Rio de Janeiro, desenvolvemos nossos trabalhos em mais de 100 núcleos que estão espalhados de norte a sul do Estado.

            Todo este trabalho é supervisionado pelos três Mestres fundadores: Paulinho Sabiá, em Niterói/RJ (Brasil); Boneco, em Los Angeles (EUA) e Paulão Ceará, em Tilbug (Holanda).

            O Grupo Capoeira Brasil festeja a cultura e arte da Capoeira, mantendo viva parte relevante da história brasileira.
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row"> 
        <div class="col-sm-6"> 
         
        </div> 
        <div class="col-sm-6"> 
         
        </div> 
  </div>  
</div>
