// Place all the styles related to the Perfis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imagemPerfil{

	border-left: 10px solid #aaa;

	.image{
		width: 140px;
		height: 140px;
		background-position: center center;
    	background-size: cover;    
	}

}

.imagemCapa{

	border-left: 10px solid #aaa;

	.image{
		width: 300px;
		height: 140px;
		background-position: center center;
		background-size: cover;    
	}

}

.descricaoPerfil{

	border-left: 10px solid #aaa;
	background-color: #f4f4f4;
	min-height: 40px;
	padding: 15px;

}

.infoPerfil{

	ul{
		list-style-type: none;
	}

	.apelido{
		font-size: 25px;
		border-bottom: 2px solid #aaa;
		padding-bottom: 5px;
		margin-bottom: 2px;
	}

}



.perfil_publico_capa{

		

	.imagemPerfil{
		border: 1px solid white;
		width: 240px;
		height: 240px;
		background-position: center center;
    	background-size: cover;     

	}

	.coluna_textos{

		height: 240px;
		
		.textoPerfil {
			
			position: relative;
			height: 30px;
			top:70%;

			.apelido{
				font-size: 30px !important;	
			}

			.graduacao{
				font-size: 18px !important;
				margin-top: 18px;		
			}

		}

	}
	

}

.perfil_publico_textos{
	min-height: 300px;
	margin-bottom: 50px;
	padding-top:30px;
	text-align: center;
	font-size: 16px;
}

.evento_perfil{
	.event-date-day{
		font-size:35px !important;
		line-height: 0.8 !important;
	}
}

.publicacao{
	
	text-align: left;
	height:65px;
	margin-bottom: 15px;

	h4 {
		margin-top: 0px; 
    	margin-bottom: 2px;	
	}
	
	ul{
		margin-top: 0;
    	margin-bottom: 2px;
	}


}