.box-dia{
	width:50px;
	border: 1px solid #ccc;
	padding: 4px;
	color: #555555;
    background-color: #eeeeee;




	label{
		display: inline;
		font-size: 12px;
		font-weight: normal;
	}

	input[type=checkbox]{
		float:right;
	}
}