<p>Olá, <%= @resource.email %>!</p>

<p>Você solicitou a alteração da sua senha. É necessário clicar no link "Alterar minha senha" para cadastrar uma nova senha.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não soliciou a alteração de senha, favor ignorar esse email.</p>
<p>Sua senha somente será alterado após clicar no link e cadastrar uma nova senha.</p>
