<div id="header" class="sticky shadow-after-3 clearfix">

	<!-- TOP NAV -->
	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
				<i class="fa fa-bars"></i>
			</button>

			<!-- BUTTONS -->
			<ul class="pull-right nav nav-pills nav-second-main">

				<!-- SEARCH -->
				<li class="search">
					<a href="javascript:;">
						<i class="fa fa-search"></i>
					</a>
					<div class="search-box">
						<form action="page-search-result-1.html" method="get">
							<div class="input-group">
								<input type="text" name="src" placeholder="Search" class="form-control" />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit">Buscar</button>
								</span>
							</div>
						</form>
					</div> 
				</li>
				<!-- /SEARCH -->
			</ul>
			<!-- /BUTTONS -->

			<!-- Logo -->
			<a class="logo pull-left" href="index.html">
				<%= image_tag("logo_color.png" , class:'flag-lang') %> 
			</a>

			<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
				<nav class="nav-main">
					<ul id="topMain" class="nav nav-pills nav-main">
						<li><!-- HOME -->
							<a href="home.html">
								HOME
							</a>
						</li>
                        <li><!-- HISTÓRIA -->
							<a href="historia_grupo.html">
								O GRUPO
							</a>
						</li>
                        <li><!-- PUBLICAÇÕES -->
							<a href="publicacoes.html">
								PUBLICAÇÕES
							</a>
						</li>
                        <li><!-- EVENTOS -->
							<a href="eventos.html">PRÓXIMOS EVENTOS</a>
						</li>
                        <li><!-- ENCONTRE A CAPOEIRA -->
							<a href="encontre_capoeira.html">
								ENCONTRE A CAPOEIRA
							</a>
						</li>
						<li>
							<a id="sidepanel_btn" href="#" class="fa fa-bars"></a>
						</li>
					</ul>

				</nav>
			</div>
		</div>
	</header>
	<!-- /Top Nav -->

</div>

